{$NOSTRA_DOMAIN} {
	handle /nostra.* {
		reverse_proxy h2c://server:8080 {
			lb_try_duration 10s
			lb_try_interval 250ms
		}
	}

	handle /healthz {
		reverse_proxy server:8080
	}

	handle {
		root * /srv
		try_files {path} /index.html
		file_server
	}
}
